@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

$primary-color: #f1aa46;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 2.5rem 5rem;
    position: relative;
    overflow: hidden;
    transition: 0.5s;

    &:hover {
      font-weight: 700;
      letter-spacing: 6px;
      background-color: $primary-color;
      color: #fff;
    }

    @media screen and (min-width: 32rem) {
      font-size: 4.5rem;
      padding: 4rem 8rem;
    }
  }
}
